<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeaVee.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4840C0A02EDF27B400158EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4840C0B22EDF27B600158EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4840C0BC2EDF27B600158EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
